@media screen and (max-width: 1000px){
    .wrapper{
        width: 550px;
        margin: 0 auto;
    }
    .container{
        width: 500px;
        margin: 0 auto;
    }
    .menu{
        position: relative;
    }
    .header{
        background-image: url("img/otherback1.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 740px;
    }
    .cont-head{
        width: 100%;
        text-align: center;
        padding-top: 130px;
    }
    .cont-about{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .zag-about{
        width: 600px;
    }
    .other{
        font-size: 15px;
    }
    .bord{
        font-size: 15px;
    }
    .works-pic-1{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .pic img{
        width: 500px;
        height: 500px;
    }
    .voyageur{
        background-image: url("img/voyage.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        justify-content: center;
        color: #1d2226;
    }
    .voyageur-text {
        width: 100px;
        margin-top: 0;
        margin-left: -40px;
    }
    .voyag-img{
        display: none;
    }
    .team-pic{
        display: flex;
        flex-direction: column;
    }
    .team-pic img{
        width: 500px;
        height: 500px;
    }
    .video iframe{
        width: 100%;
        height: 300px;


    }
    #spesial-pic{
        margin-left: 40px;
    }
    #special-skill{
        margin: 0;
        padding: 0;
        width: 400px;
        text-align: center;

    }
    .skill-cont{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    .skill-text{
        text-align: center;
        width: 500px;
        margin-top: 20px;
    }
    .pre img{
        width: 100px;
    }
    .car-img img{
        width: 200px;
        height: 200px;
        object-fit: cover;
    }
    #carou-img{
        height: 200px;
    }
    #carou-img1{
        height: 200px;
    }
    #carou-img2{
        height: 200px;
    }
    .carou-text{
        margin: 20px;
        font-size: 14px;

    }
    #special-nolob{
        margin: 0 30px;
        text-align: center;
    }
    #special-nolob1{
        margin: 0 30px;
        text-align: center;
    }
    .news-1{
        margin: 10px 5px;
    }
    .news-img img{
        width: 200px;
    }
    .contact-cont{
        display: flex;
        flex-direction: column;


    }
    .contact-pic{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin: 10px 0;
        padding: 0;
    }
    .contact-pic p{
        font-size: 15px;
        font-family: Bahnschrift,sans-serif;
        padding-top: 5px;
    }
    .PT{
        font-size: 20px;
    }
    .lobster{
        font-size: 25px;
    }
    .nolob{
        font-size: 17px;
    }
    .under-voyag{
        margin: 0;
        width: 500px;
    }


}